<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Terserah</title>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'plugin/font-awesome.min.css') }}"/>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}"/>
   </head>
   <body>
      {% block content %} {% endblock %}
      <script src="{{ url_for('static', filename = 'jquery/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
   </body>
</html>
