{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="gradient-overlay text-center bg-secondary">
                <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <h1 class="text-light">UP TO YOU</h1>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <form class="" action="{{ url_for('say') }}" method="post">
                            <div class="form-group">
                              <label for="">Your Quetion :</label>
                              <input type="text" name="g_say" class="form-control" value="">
                            </div>
                            <b>Girl Answer :</b>
                            <div class="form-group">
                                <table class="table">
                                  {% for g_kode in kode %}
                                    <tr>
                                        <th><label for="">{{g_kode}}</label> </th>
                                        <th width="60px"><input class="form-control" type="radio" name="g_code" value="{{g_kode}}"></th>
                                    </tr>
                                  {% endfor %}
                                </table>
                            </div>

                            <div class="form-group">
                                <button  class="btn btn-success pull-right" type="submit">Submit</button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
